BasedOnStyle: Microsoft
Language: Cpp
Standard: c++20
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Never
AlwaysBreakTemplateDeclarations: Yes
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: false
IncludeBlocks: Regroup
NamespaceIndentation: All
AccessModifierOffset: -4
FixNamespaceComments: true
DerivePointerAlignment: false
