root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp,cxx,cc,h,hpp,hxx,inl,ixx}]
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 120

[*.{cs,json,xml,props,targets,vcxproj,filters,sln}]
indent_style = space
indent_size = 2

[*.{md,txt}]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_style = space
indent_size = 2
